:root {
    --back-color: #000;
    --body-color: #00b4ff;
    --wrap-color: #fff;
    --name-show: #000;
    --place-show: #00b4ff;
    --huga-run: 0.25;
    --city-show: #00b4ff;
    --afisha-color: #ffffff87;
    --hetag-opacity: 0;
    --btn-tickets: #00b4ff;
}
