:root {
    --back-color: #ececec;
    --body-color: #00b4ff;
    --wrap-color: #fff;
    --name-show: #000;
    --place-show: #00b4ff;
    --huga-run: 0.25;
    --city-show: #00b4ff;
    --afisha-color: #ffffff87;
    --btn-tickets: #00b4ff;
    --btn-tickets2: #00b4ff;
    --btn-tickets3: #00b4ff;
}
