:root {
    --back-color: #e2e2e2;
    --body-color: #fff;
    --wrap-color: #000;
    --name-show: #fff;
    --place-show: #ff0000;
    --huga-run: 0;
    --city-show: #ff000073;
    --afisha-color: #0000009a;
    --btn-tickets: #ff0000;
    --btn-tickets2: #fff;
    --btn-tickets3: #ffffff00;
}