:root {
    color-scheme: light dark;
}


@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/pt-sans_regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/pt-sans_bold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/pt-sans_italic.woff2) format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/pt-sans_bold-italic.woff2) format("woff2");
    font-display: swap;
}



html {
    scroll-behavior: smooth;
}

.body {
    z-index: 999;
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-width: fit-content;
    max-width: 2200px;
    padding: 0;
    font-style: normal;
    font-family: "PT Sans";
    /* font-family: monospace; */
    scroll-behavior: smooth;
    background-color: var(--back-color);
    transition: all 0.5s linear;
}

.body_active {
    background-color: #000;
}


/* .body_image {
    transition: all 0.5s linear;
    background: url("../img/hetag2.jpeg") no-repeat fixed top center;
    background-size: cover;
} */

.hetag_img {
    pointer-events: none;
    user-select: none;
    position: fixed;
    max-width: 2200px;
    object-fit: cover;
    width: 100vw;
    z-index: -1;
    min-height: min-content;
    transition: all 0.5s linear;
    /* animation: hetag_anim 4s ease infinite; */
}


@keyframes hetag_anim {
    0% {
        opacity: 1;
    }
    /* 50% {
        opacity: 1;
        
    } */
    100% {
        opacity: 0;

    }
}


.hetag_img_none {
    transition: all 0.5s linear;
    background: rgba(255, 255, 0, 0);
}

.hetag_img_none_none {
    transition: all 0.5s linear;
    opacity: 1;
    
}

.hetag_img_sec {
    /* opacity: 0; */
    pointer-events: none;
    user-select: none;
    top: -40px;
    position: fixed;
    max-width: 2000px;
    width: 100%;
    z-index: -1;
    min-height: min-content;
    transition: all 0.5s linear;
    /* animation: hetag_anim1 3s linear infinite; */
}

@keyframes hetag_anim1 {
    0% {
        opacity: 1;
    }
    /* 50% {
        opacity: 1;
        
    } */
    100% {
        opacity: 0;
        
    }
}

@media (max-width: 1040px) {
    .hetag_img_sec {
        object-fit: cover;
        top: 0px;
        right: 0px;
        width: 100%;
        /* min-width: 100%; */
        max-width: 100vw;
        /* object-fit: contain; */
    }
    
    .hetag_img {
        object-fit: cover;
        /* height: inherit; */
        /* height: 100%; */
        top: 0px;
        right: 0px;
        width: 100%;
        /* min-width: 100%; */
        max-width: 100vw;
        /* object-fit: contain; */
    }
}

a {
    color: #FFF;
    text-decoration: none;
}

ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.het_op {
    user-select: none;
    position: absolute;
    z-index: -20;
    opacity: 0;
}


/* ССЫЛКИ НА СОЦ СЕТИ */

.wrap_sociall {
    user-select: none;
    position: absolute;
    top: -45px;
    right: 10%;
    border: none;
    z-index: 9999;
    /* transform: rotate(16deg); */
}

.wrap_sociall:active {
    border: none;
}

.menu{
    position:relative;
    width:150px;
    height:200px;
    display:flex;
    align-items:center;
    justify-content:end;
}
.menu .toggle{
    position:relative;
    margin-right: 15px;
    height:60px;
    width:60px;
    background-color: var(--body-color);
    border-radius:50%;
    box-shadow:0 3px 4px rgba(0,0,0,0.15);
    display:flex;
    align-items:center;
    justify-content:center;
    /* transform: rotate(-16deg); */
    color:#333;
    font-size:2rem;
    cursor:pointer;
    transition:1.25s;
    z-index:5;
}

.menu .toggle:hover {
    box-shadow:0 0 7px 7px #fff;
    scale: 1.05;
}

.menu.active .toggle{
    transform:rotate(-360deg);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15),
    0 0 0 2px #333,
    0 0 0 8px #fff;
}
.menu li{
    position:absolute;
    left:0;
    list-style:none;
    transition:0.5s;
    transform:rotate(calc(-290deg/7.5 * var(--i)));
    transform-origin:100px;
    scale:0;
    transition-delay: calc(0.05s * var(--i));
}
.menu.active li{
    scale:1;
}
.menu li a{
    position:relative;
    display:flex;
    transform:rotate(calc(290deg/7.5 * var(--i)));
    width:42px;
    height:42px;
    background-color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:var(--clr);
    box-shadow:0 3px 4px #00000026;
    transition:0.5s;


}.menu li:hover a{
    box-shadow:0 0 0 2px var(--clr),
0 0 0 6px #fff;

}.logo_logo {
    width: 35px;
    transition: all .4s linear;

}.menu li:hover .logo_logo{
    transition: all .4s linear;
    scale: 1.1;
    
}.logo_logo_ex {
    border-radius: 50%;}
    
    .logo_logo_sec {
    transition: all .4s linear;
    border-radius: 50%;
    scale: 0.85;
}

.menu li:hover .logo_logo_sec {
    transition: all .4s linear;
    scale: 1;

}

@media (max-width:1040px) {
    .menu {
        transform: scale(-1, 1);
        rotate: -16deg;
    }
    
    /* .toggle_sec {
        transform: scale(-1, 1);
    } */
    
    .toggle_text {
        rotate: -16deg;
        transform: scale(-1, 1);
    }
    
    .logo_logo{
        rotate: -22deg;
        transform: scale(-1, 1);
    }
    
    
    .wrap_sociall {
        position: fixed;
        top: -25px;
        width: 16%;
        left: 40px;
    }
}


.toggle_text {
    color: var(--wrap-color);
    transition: all 0.5s linear;
    user-select: none;
    font-size: 18px;
    font-weight: 600;
}



.menu .toggle_active {
    background-color: #00b4ff;
}

.toggle_text_active {
    transition: all 0.5s linear;
    color: #fff;
}

/* СНЕГ + */

/*     
.snow-blocks{
    background-size: cover;
    position: fixed;
    z-index: 1;
    min-height: 1500px;
    width: 100%;
    overflow: hidden;
    background-size:cover;
}



.snow2{
    transition: all 0.5s linear;
    background-image: url("../img/snow2.png"),url("../img/snow3.png");
    background-repeat: repeat;
    animation: snow2 5s linear infinite;
    width: 100%;
    height: 1600px;
    position:absolute;
}

@keyframes snow2{
    0%{background-position: 0 0, 0 0;}
    100%{background-position: 90% 1000px, 90% 1000px;}
} */


.burger_wrap {
    /* position: sticky; */
    width: 100%;
    display: flex;
    /* padding-top: 25px; */
    justify-content: end;
}

.burger{
    margin-right: 25px;
    display: none;
    position: fixed;
    padding: 20px;
    z-index: 99999;
    background-color: #ffffff;
    border-radius: 50px;
    align-items: center;
    justify-content: flex-end;
    width: 65px;
    height: 40px;
}

.burger span{
    transition: all 0.2s linear;
    border-radius: 20px;
    height: 3px;
    width: 100%;
    transform: scale(1);
    background-color: #000;
}

.burger::before, .burger::after{
    border-radius: 20px;
    content: '';
    position: absolute;
    height: 3px;
    width: 63%;
    background-color: #000;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 20px }

.burger::after { bottom: 20px }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { background-color: #000; transform: scale(0); width: 0; }

.burger.active::before{
    background-color: #000;
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    background-color: #000;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 1040px) {

    .burger_wrap {
        margin-top: 35px;
    }

    .burger { display: flex }

}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}



.body_wrapper {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}











.burger_none {
    transition: all 0.5s linear;
    opacity: 0;
}

.burger_popup-active {
    pointer-events: all;
    transition: all 0.5s linear;
    z-index: 999;
    /* opacity: 0.5; */
    top: 0;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

@media (min-width:1040px) {
    .burger_popup-active {
        display: none;
    }
}


.burger_popup {
    opacity: 0;
    /* display: none; */
    /* max-height: 0; */
    pointer-events: none;
    transition: all .5s linear;
}

.btn_wrapper {
    position: relative;
    width: 60px;
    height: 50px;
}

.btn_wrapper span {
    position: absolute;
    top: 50%;
    height: 4px;
    width: 60px;
    background-color: #000;
}

.btn_wrapper span {
    transform: rotate(-45deg);
}

.btn_wrapper .btn_close-popup2 {
    transform: rotate(45deg);
}

.popup_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.popup_wrapper-linck {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    border-radius: 20px;
    border: 3px #00000000 solid;
    text-align: center;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    font-size: 22px;
}

.popup_wrapper-linck:hover {
    color: #ff0000;
    box-shadow: 0 0 5px 2px #ff0000;
    border: 3px #ff0000 solid;
}

.popup_wrapper-linck:active {
    box-shadow: 0 0 5px 2px #ff0000;
    color: #ff0000;
    border: 3px #ff0000 solid;
}

.popup_wrapper-item {
    width: 150px;
    color: #fff;
    border-radius: 20px;
    background-color: #000;
    animation: merchModil 3s linear infinite;
}


.popup_wrapper-item:hover {
    animation-play-state: paused;
}
.popup_wrapper-item:active {
    animation-play-state: paused;
}

@keyframes merchModil {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    50% {
        transform: scale(1.06);
        box-shadow: 0 0 5px 5px #000;
    }
    100% {
        transform: scale(1.0);
        box-shadow: none;
    }
}

.wrapper_pop {
    top: 30px;
    right: 5%;
    position: absolute;
}

.btn_close-popup {
    content: "";
}

@media (max-width: 1040px) {
    .burder_wrapper span,
    .burder_wrapper::before,
    .burder_wrapper::after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 4px;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .burder_wrapper::before,
    .burder_wrapper::after {
        content: "";
    }
    
    .burder_wrapper::before {
        top: 22px;
    }
    
    .burder_wrapper::after {
        top: 46px;
    }
    
    .burder_wrapper {
        position: relative;
    }
    
    
    .header_wrapper {
        display: none;
    }  
}

.header_wrapper {
    padding: 0 30px;
    padding-top: 30px;
    width: 63%;
    background: none;
}

.header_merch {
    height: 100px;
}

.header {
    /* position: relative; */
    z-index: 9999;
}

















/* HEADER */
.container {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    height: 60px;
    gap: 40px;
}

.open_close-wrapper {
    display: none;
}

.my__name2 {
    transition: all 0.5s linear;
}

.my__name-big {
    user-select: none;
    /* transition: all 0.3s linear; */
    margin: 0;
    color: var(--city-show);
    text-decoration: none;
    list-style-type: none;
    transition: all 0.5s linear;
}



.my__name {
    font-size: 30px;
    margin: 0;
    color: #FFF;
    text-transform: uppercase;
    text-wrap: nowrap;
    transition: all 0.5s linear;
}


.my__name-big_active {
    transition: all 0.5s linear;
    color: #00b4ff;
}

.my__name_active {
    transition: all 0.5s linear;
    color: #00b4ff;
}


.hugaev_team {
    position: relative;
    display: flex;
    height: 35px;
    flex-direction: column;
}

.about_my-team-none {
    text-transform: uppercase;
    visibility: hidden;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 35px;
    opacity: 0;
    height: 80px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    transition: all 0.4s linear;
}

.about_my-team {
    transition: all 0.4s linear;
    
    align-items: center;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-evenly;
    display: flex;
    text-transform: uppercase;
    height: 80px;
    top: 35px;
    width: 100%;
    visibility: visible;
    flex-direction: column;
    opacity: 1;
}

.huga_team {
    transition: all 1s linear;
    color: #ff0000;
}

.about_mi {
    transition: all 0.3s linear;
    text-decoration: none;
}

.my_team {
    color: var(--city-show);
    user-select: none;
    transition: all 0.3s linear;
    text-decoration: none;
}

.about_mi:hover {
    cursor: pointer;
    color: #ff0000;
}

.my_team:hover {
    cursor: pointer;
    color: #ff0000;
}

.about_mi:active {
    cursor: pointer;
    color: #ff0000;
}

.my_team:active {
    cursor: pointer;
    color: #ff0000;
}



.about_mi_active:hover {
    cursor: pointer;
    color: #00b4ff;
}

.my_team_active:hover {
    cursor: pointer;
    color: #00b4ff;
}

.about_mi_active:active {
    cursor: pointer;
    color: #00b4ff;
}

.my_team_active:active {
    cursor: pointer;
    color: #00b4ff;
}

.anonse {
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 0px;
    width: 200px;
    gap: 30px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
}

.anonse-list {
    background-color: #fff;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    transition: all 0.3s linear 0s;
}


.anonse_merch_sec {
    background-color: #12418b;
}

.sociall {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s linear 0s;
}

.sociall:hover {
    transition: all 0.3s linear 0s;
    cursor: pointer;
    background-color: #fffdfd;
    transform: scale(1.1);
}
.sociall:active {
    transition: all 0.3s linear 0s;
    cursor: pointer;
    background-color: #ffffff;
    transform: scale(1.1);
}

.navigation_sent {
    scroll-behavior: smooth;
    padding-top: 3px;
    list-style-type: none;
    text-decoration: none;
    color: var(--body-color);
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

.navigation_sent:hover {
    transition: all 0.3s linear 0s;
    cursor: pointer;
    border: 3px solid #787575;
    color: #787575;
}

.sociall_href-one {
    padding: 0 3px 2px 0;
}

.sociall_wrapper {
    margin: 0;
    padding: 0;
    min-width: 200px;
    max-width: 250px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.afisha_element {
    position: relative;
    top: 50px;
    z-index: -1;
}

.afisha {
    text-decoration: none;
    text-transform: uppercase;
    margin: 70px 0;
    position: relative;
    color: var(--city-show);
    z-index: -1;
    font-size: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    user-select: none;
    transition: all 0.5s linear;
    
    animation: afisha 2.5s infinite;
}

.afisha_active {
    transition: all 0.5s linear;
    color: #00b4ff;
}

/* 
@keyframes afisha {
    0% {
        color: #ffffff;
    }
    30% {
        letter-spacing: 12px;
    }
    85% {
        letter-spacing: 3px;
    }
} */

/* MAIN */
.main {
    position: relative;
    margin-top: 130px;
    z-index: 700;
    flex: 1 1 auto;
    height: 100%;
}

.another_show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.empty_show {
    color: #0040ff9a;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.main_title {
    display: flex;
    /* padding-top: 70px; */
    text-transform: uppercase;
    font-size: 40px;
    position: absolute;
    top: -150px;
    /* width: 100%; */
    width: 50%;
    color: var(--body-color);
    /* color: #393737; */
    align-items: center;
    justify-content: center;
}

.main_title_sec {
    width: 100%;
}

.city_show {
    color: var(--city-show);
    user-select: none;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s linear;
}


.city_show_active {
    transition: all 0.5s linear;
    color: #00b4ff;
}


@media (min-width: 1040px) {

    .main_afisha-standUp:hover {
        scale:calc(1.03);
        /* border: 1px solid rgba(0, 0, 0, 0); */
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #000;
    }
    
    .main_afisha-standUp:active {
        scale:calc(1.03);
        /* border: 1px solid rgba(0, 0, 0, 0); */
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #000;
    }

    .video_youtube {
        height: 500px;
    }

    .empty_show {
        padding-top: 100px;
    }

    .city_show-add {
        display: none;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(2, 1fr); */
        row-gap: 100px;
        justify-items: center;
        align-items: baseline;
    }

    .main_afisha {
        display: grid;
        row-gap: 30px;
        grid-template-columns:repeat(2,  minmax(540px, 1fr));
        grid-template-rows: repeat(5, 150px);
    }
    /*     
    .main_afisha_3 {
        grid-template-rows: repeat(5, 175px);
        
    } */
}

.main_afisha {
    width: 100%;
    /* width: 50%; */
}

.main_afisha2 {
    grid-template-columns:repeat(2,  minmax(540px, 1fr));
    grid-template-rows:repeat(2,  150px);
    position: relative;
    /* width: 50%; */
    width: 100%;
}



@media (max-width: 1040px) {

    .main_afisha-standUp:hover {
        transform: none;
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #fff;
    }
    .main_afisha-standUp:active {
        transform: none;
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #fff;
    }
    .empty_show {
        padding-top: 50px;
    }

    .city_show-add {
        display: flex;
    }

    .city_show-delete {
        display: none;
    }

    .main {
        row-gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .main_afisha {
        display: grid;
        grid-template-columns:repeat(1,  minmax(540px, 1fr));
        grid-template-rows: repeat(10, 150px);

        width: 100%;
    }
    

    .main_title {
        width: 100%;
    }

    .main_afisha2 {
        grid-template-rows: repeat(4, 150px);
    }

}

.standUp_afisha {
    transition: all 0.5s linear;
    color: var(--name-show);
    user-select: none;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
}

.standUp_start {
    font-size: 22px;
    white-space: nowrap;
}

.standUp_start_sec {
    font-size: 20px;
    scale: 0.95;
}

.pClass {
    color: var(--name-show);
    user-select: none;
    transition: all 0.4s linear;
    margin: 0;
}















.thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* transform-style: preserve-3d; */
    transition: all 0.4s linear;
}


.thecard_active{
    transition: all 0.4s linear;
    transform: rotateX(180deg);
}

.thefront{
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 40px;
    /* backface-visibility: hidden;
    overflow: hidden; */
    color: #ff0000;
}

.theback{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    /* backface-visibility: hidden;
    overflow: hidden; */
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    transform: rotateX(0deg);
}

.theback_sec {
    height: 100%;
}


.main_afisha-standUp {
    /* cursor: pointer; */
    /* transform: rotateX(180deg); */
    /* opacity: 0.6; */
    position: relative;
    /* display: grid; */
    box-sizing: border-box;
    background-color: var(--afisha-color);
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    /* border: 2px solid #787575; */
    transition: all 0.5s linear ;
    box-shadow: 0px 0px 10px 2px #00000000;
}


.main_afisha-standUp_active {
    transition: all 0.5s linear ;
    color: #000;
    background-color: #ffffff87;
}


.date_wrap_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.standUp_start_show {
    font-style: italic;
}

.img_new {
    transform: rotate(15deg);
    right: -10px;
    top: -20px;
    pointer-events: none;
    z-index: 80;
    position: absolute;
    user-select: none;
    width: 60px;
    height: 60px;
    animation: new_show 1.5s linear infinite;
    transition: all 0.5s linear;
}



@keyframes new_show {
    0% {
        scale: 1;
    }
    25% {
        scale: 1.05;
    }
    50% {
        scale: 1.1;
    }
    75% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}


.img_new_sec {
    transition: all 0.5s linear;
    z-index: -1;
    opacity: 0;
    z-index: 90;
}

.img_new_sec_active {
    transition: all 0.5s linear;
    opacity: 1;
}

.link_show_event {
    cursor: pointer;
}

.link_show_event:hover {
    cursor: pointer;
}

.afisha_wrapper {
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}


.wrap_wrap_plas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.show_data {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}


.data_standUp {
    font-size: 25px;
    text-align: center;
}

.standUp_city {
    text-align: center;
}

.standUp_meet {
    padding-bottom: 10px;
}

.standUp_place {
    transition: all 0.4s linear;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 160px;
}

.standUp_place:hover {
    transition: all 0.4s linear;
    color: var(--place-show);
}
.standUp_place:active {
    transition: all 0.4s linear;
    color: var(--place-show);
}

.standUp_place_active:hover {
    transition: all 0.4s linear;
    color: var(--place-show);
}
.standUp_place_active:active {
    transition: all 0.4s linear;
    color: var(--place-show);
}


.buttun_tickets {
    user-select: none;
    box-sizing: border-box;
}

.tickets_buy {
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 20px;
    min-width: 130px;
    min-height: 50px;
    max-width: 150px;
    max-height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 3px solid var(--btn-tickets);
    transition: all 0.4s linear 0s;
    background-color: var(--btn-tickets3);
}

.tickets_buy:hover {
    transition: all 0.4s linear 0s;
    background-color: var(--btn-tickets);
    /* background-color: #0053f7; */
    box-shadow: 0px 0px 10px 2px var(--btn-tickets);
    /* box-shadow: 0px 0px 10px 5px #0053f7; */
}
.tickets_buy:active {
    transition: all 0.4s linear 0s;
    background-color: var(--btn-tickets);
    /* background-color: #0053f7; */
    box-shadow: 0px 0px 10px 2px var(--btn-tickets);
    /* box-shadow: 0px 0px 10px 5px #0053f7; */
}





@media (max-width:1200px) {
    .main_afisha-standUp {
        scale: 0.95;
    }
}
























.main_video {
    position: relative;
    z-index: 10;
    width: 100%;
    /* margin-top: 60px; */
}

.title_list {
    width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.video_title {
    user-select: none;
    margin: 0;
    margin-bottom: 70px;
    color: var(--city-show);
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s linear;
}

@media (max-width: 1394px) {
    .video_youtube {
        width: 94%;
    }

    .video {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 500px);
    }
}

@media (max-width: 1040px) {
    .video {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 450px);
    }
}

@media (min-width: 1394px) {
    .video_youtube {
        height: 300px;
    }

    .video {
        grid-template-columns: repeat(2, minmax(500px, 1fr));
        grid-template-rows: repeat(5, 300px);
    }

}

.video { 
    gap: 30px;
    margin: 0 20px;
    justify-items: center;
    align-items: unset;
    display: grid;
}

.video_wrap a {
    display: block;
    height: 100%;
    width: 100%;
}

@media (min-width: 2170px) {
    .video {
        grid-template-columns:repeat(3, minmax(600px, 1fr));
    }
}

.video_youtube {
    /* object-fit: contain; */
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s linear 0s;
}

.video_youtube:hover {
    transition: all 0.5s linear 0s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #fff;
    transform: scale(1.07);

}
.video_youtube:active {
    transition: all 0.5s linear 0s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #fff;
    transform: scale(1.07);
}

@media (max-width:1590px) {
    .video_youtube {
        width: 100%;
        height: 100%;
        scale: 0.9;
    }
}

@media (max-width: 1040px) {
    /* .video_youtube {
        width: 65%;
        scale: 1.2;
    } */

    .video_youtube:hover {
        transition: all 0.5s linear 0s;
        cursor: pointer;
        box-shadow: none;
        transform: none;
    
    }
    .video_youtube:active {
        transition: all 0.5s linear 0s;
        cursor: pointer;
        box-shadow: none;
        transform: none;
    }
}

@media (max-width: 1020px) {
    .video_youtube {
        height: 100%;
        /* width: 70%;
        scale: 1.1; */
    }
}
/* @media (max-width: 960px) {
    .video_youtube {
        height: 60%;
        width: 80%;
        scale: 1.2;
    }
} */

@media (max-width: 940px) {
    .video_youtube {
        height: 70%;
        /* width: 60%; */
        scale: 1.3;
    }
}

@media (max-width: 770px) {
    .video_youtube {
        height: 90%;
        /* width: 70%; */
        scale: 0.9;
    }
}

@media (max-width: 640px) {
    .video {
        margin: 0 10px;
    }

    .video_youtube {
        height: 75%;
        width: 100%;
        scale: 0.8;
    }
}






/* FOOTER */
.footer {
    /* font-family: Arial, Helvetica, sans-serif; */
    position: relative;
    background: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 500;
}

.footer_container {
    height: 150px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.sociall_background {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-transform: uppercase;
    color: var(--city-show);
    font-size: 90px;
    margin: 0;
    margin-top: 100px;
    transition: all 0.5s linear;
}

.question {
    user-select: none;
    color: var(--city-show);
    background: transparent;
    font-size: 30px;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s linear;
}


.tel_question {
    width: 340px;
    margin: 0 auto;
}

.tel_number {
    user-select: none;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    color: #005bfc80;
    cursor: pointer;
    transition: all 0.3s linear 0s;
}

.tel_number:hover {
    transition: all 0.3s linear 0s;
    color: #ff0000;
}
.tel_number:active {
    transition: all 0.3s linear 0s;
    color: #ff0000;
}

@media (min-width: 1040px) {

    .tel_number {
        color: #005bfc80;
    }
}
.connection {
    margin: 0;
    padding-left: 20px;
}

.footer_form {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-evenly;
}

.input_text {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border-radius: 20px;
    font-size: 20px;
    width: 460px;
    height: 60px;
    border: none;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
}

.input_wrapper {
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.4s linear 0s;
}

.input_wrapper:hover {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #032fff;
} 
.input_wrapper:active {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #000000;
} 

.textarea_wrapper {
    padding: 0;
    width: 460px;
    min-height: 100px;
    border: 2px solid #000000;
    transition: all 0.4s linear 0s;
}

.textarea_wrapper:hover {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #000000;
}
.textarea_wrapper:active {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #000000;
}

.comment_text {
    font-size: 20px;
    resize: none;
    outline: none;
    padding: 10px 10px 10px 20px;
    margin: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box
}


.button_sent {
    padding: 0;
    width: 260px;
    height: 60px;
    font-size: 20px;
    color: #000000;
    border-radius: 0;
    border: 3px solid #0053f7;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.4s linear 0s;
}

.button_sent:hover {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #5b7dc1;
    background-color: #0053f7;
    color: #fff;
    cursor: pointer;
}
.button_sent:active {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #5b7dc1;
    background-color: #0053f7;
    color: #fff;
    cursor: pointer;
}

.button_sent-wrapper {
    text-align: end;
}

.footer_sociall-box {
    max-height: 200px;
}

.footer-sociall_wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200px;
    padding: 0;
    margin: 0;
}

.footer_sociall {
    list-style-type: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
}

.footer-sociall_href {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.3s linear 0s;
}

.footer-sociall_href:hover {
    transition: all 0.3s linear 0s;
    background-color: #787575;
    box-shadow: 0px 0px 10px 3px #ffffff;
}
.footer-sociall_href:active {
    transition: all 0.3s linear 0s;
    background-color: #787575;
    box-shadow: 0px 0px 10px 3px #ffffff;
}

@media (min-width: 795px) {
    .img_sociall-ex {
        border-radius: 34px;
    }

    .content {
        display: flex;
    }

    .box:hover {
        height: 350px;
    }

    .img_sociall {
        width: 250px;
        height: 250px;
    }

    .box_sociall {
        height: 750px;
        grid-template-columns: repeat(2, minmax(300px, 400px));
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1330px) {
    .img_sociall-ex {
        border-radius: 34px;
    }

    .box:hover {
        height: 300px;
    }

    .box {
        width: 200px;
        height: 200px;
    }

    .img_sociall {
        width: 200px;
        height: 200px;
    }

    .box_sociall {
        height: 500px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0px;
    }
}

.box_sociall {
    display: grid;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: none;
    transition: .5s;
}

.box:hover {
    cursor: pointer;
}

.box:hover .sent_buttun {
    border: 1px solid #fff;
    transition: all 0.4s linear;
    /* background: transparent; */
    backdrop-filter: blur(20px);
    cursor: pointer;
}

@media (max-width:995px) {
    .box:hover {
        height: 0px;
    }
}

.box .imgBx {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

.content {
    position: absolute;
    z-index: 7;
    width: 94%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .2s;
    flex-direction: column;
}

.box:hover .content {
    cursor: pointer;
    opacity: 1;
}

.buttun_go {
    width: 100%;
}

.sent_buttun {
    transition: all 0.4s linear;
    border-radius: 20px;
    border: none;
    border: 1px solid #ffffff00;
    background: #00000000;
    /* background: transparent;
    backdrop-filter: blur(20px); */
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    width: 100%;
    height: 100px;
}

@media (max-width: 995px) {
    .img_sociall-ex {
        border-radius: 15px;
    }

    .content {
        display: none;
    }

    .img_sociall {
        width: 60px;
        height: 60px;
    }

    .box_sociall {
        height: 120px;
        display: flex;
        width: 90%;
        align-items: center;
        /* grid-template-columns: repeat(4, 400px); */
        /* grid-template-rows: repeat(4, 1fr); */
        justify-content: center;
    }
}

@media (min-width:996px) {
    
    .box {
        width: 250px;
        height: 250px;
    }
}



























/* MERCH */
.body_merch {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s linear;
}

.anonse-list_merch {
    margin: 0;
    margin-top: 20px;
    transition: all 0.2s linear;
    position: relative;
}

.navigation_sent-merch {
    z-index: 100;
    border-radius: 50px;
    font-weight: 400;
    width: 300px;
    color: #000;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.2s linear;
    cursor: pointer;
}

.navigation_sent-merch:hover {
    color: #ff0000;
    transition: all 0.2s linear;
    border: 3px solid #ff0000;
}

.navigation_merch {
    user-select: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.img_merch {
    fill: #fff;
    width: 25px;
}


.img_merch_sec {
    transition: all 0.5s linear;
    fill: #000;
    width: 25px;
}

.img_merch_active {
    transition: all 0.5s linear;
    fill: #fff;
}

.anonse_merch {
    border-radius: 50px;
    color: #000;
    box-sizing: border-box;
    transition: all 0.3s linear 0s;
    transform: scale(1.0);
    animation: merch 2s linear infinite alternate forwards;
    transition: all 0.5s linear;
}


@keyframes merch {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    50% {
        transform: scale(1.06);
        box-shadow: 0 0 5px 5px #12418b;
    }
    100% {
        transform: scale(1.0);
        box-shadow: none;
    }
}

.anonse_merch:hover {
    animation-play-state: paused;
    transition: all 0.4s linear 0s;
    box-shadow: 0 0 10px 8px #ff0000;
    color: #787575;
}


.anonse_merch_active {
    color: #fff;
    background-color: #00b4ff;
    transition: all 0.5s linear;
    animation: merch2 2s linear infinite alternate forwards;
}


@keyframes merch2 {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    50% {
        transform: scale(1.06);
        box-shadow: 0 0 5px 5px #00b4ff;
    }
    100% {
        transform: scale(1.0);
        box-shadow: none;
    }
}





@media (min-width: 2371px) {
    .huga_run {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 2371px) {
    .huga_run {
        top: 23%;
    }
}
@media (max-width: 1870px) {
    .huga_run {
        top: 10%;
    }
}

.huga_run {
    z-index: -1;
    position: fixed;
    width: 100%;
}

.huga_run-wrapper {
    display:flex;
    opacity: var(--huga-run);
    transition: all 0.5s linear;
    font-family: "PT Sans";
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.huga_run-wrapper_active {
    opacity: 0.25;
    transition: all 0.5s linear;
    display: flex;
}


.worlds_huga {
    animation: run 5s linear infinite;
    animation-delay: calc(0.2s * var(--d));
    color: transparent;
    font-size: 100px;
    font-weight: 600;
    user-select: none;
}

@keyframes run {
    0% {
        color: #00b4ff;
        box-shadow: none;
        filter: blur(0.1px) hue-rotate(0deg);
    }
    25% {
        color: #000000;
        filter: blur(0.1px) hue-rotate(0deg);
        /* text-shadow: 0 0 5px #ff0000; */
    }
    50% {
        color: #00b4ff;
        filter: blur(0.1px) hue-rotate(0deg);
    }
    75% {
        color: #000000;
        filter: blur(0.1px) hue-rotate(0deg);
    }
    100% {
        color: #00b4ff;
        box-shadow: none;
        filter: blur(0.1px) hue-rotate(0deg);
    }
}

.worlds_huga2 {
    font-size: 125px
}
.worlds_huga3 {
    font-size: 150px
}
.worlds_huga4 {
    font-size: 175px
}


.container_merch {
    box-sizing: border-box;
    margin: 0 auto;
}

/* MERCH MAIN*/

.main_merch {
    position: relative;
    z-index: 55;
}

.main_merch-wrapper {
    width: 100%;
}

.merch_tavar-item {
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px #000;
    width: 300px;
    height: 400px;
    cursor: pointer;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.4s linear;
}

.merch_tavar-item:hover {
    transition: all 0.4s linear;
    transform: scale(1.06);
    box-shadow: 0 0 5px 5px #000;
}

.merch_tavar-item:active {
    transition: all 0.4s linear;
    transform: scale(1.06);
    box-shadow: 0 0 5px 5px #000;
}
@media (max-width: 1870px) {
    .merch_cart {
        grid-template-columns: repeat(3, minmax(300px, 500px));
        grid-template-rows: repeat(2, 400px);
        column-gap: 30px;
    }
}

@media (max-width: 1230px) {
    .merch_cart {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(3, 400px);
        column-gap: 30px;
    }
}

@media (max-width: 795px) {
    .merch_cart {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(5, 400px);
        column-gap: 30px;
    }
}
@media (min-width: 1870px) {
    .merch_cart {
        grid-template-columns: repeat(4, minmax(400px, 1fr));
        grid-template-rows: repeat(2, 500px);
        column-gap: 120px;
    }

    .merch_tavar-item {
        width: 400px;
        height: 500px;
    }
}

.merch_cart {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    row-gap: 50px;
    justify-items: center;
}

.tavar_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.merch_img{
    border-radius: 20px 20px 0 0 ;
    background-size: cover;
}

.tavar_wrapper{
    background-color: #fff;

    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.tavar_name{
    margin: 0;
}

.tavar_price{
    margin: 0;
}

/* MERCH FOOTER */

.footer_merch {
    margin-top: 120px;
}










/* MY TEAM */

.body_myTeam {
    background: #000;
    min-height: 2000px;
    transition: all 0.5s linear;
    color: #FFF;
    animation: start_team 2s linear 1;
}

@keyframes start_team {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.body_myTeam_active {
    background-color: #fff;
    transition: all 0.5s linear;
    color: #000;
}


.header_team {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}


.burger_wrap_team {
    position: absolute;
    margin-top: 0;
}

.team_head_list {
    /* position: relative; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}

@media (max-width:1040px) {
    .team_head_list {
        display: none;
    }
}

.anonse_team {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45%;
}

.anonse_team_sec {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    transition: all 0.5s linear;
}

.anonse_team_sec span {
    transition: all 0.5s linear;
    color: #000;
}

.anonse_team_sec_active span {
    transition: all 0.5s linear;
    color: #fff;
}

.anonse_team_sec_active {
    transition: all 0.5s linear;
    color: #fff;
}

.anonse_team_active {
    border-radius: 30px;
    color: #fff;
    background-color: #ff00009a;
    animation: merch2 2s linear infinite alternate forwards;
}


@keyframes merch2 {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    50% {
        transform: scale(1.06);
        box-shadow: 0 0 5px 5px #ff0000;
    }
    100% {
        transform: scale(1.0);
        box-shadow: none;
    }
}


._back_head {
    background-color: #ff00009a;
    user-select: none;
    font-size: larger;
    /* color: #fff; */
    transition: all 0.4s linear;
    min-width: 80%;
    padding: 10px;
    border-radius: 10px;
}

._back_head:hover {
    background-color: #f70000;
    transition: all 0.4s linear;
    scale: 1.1;
}


.video_team {
    user-select: none;
    font-size: 40px;
    font-weight: 600;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}







.main_team {
    margin-top: 150px;
}

.my_team_team {
    user-select: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
}

.team_list {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
    margin-bottom: 150px;
}

.item_team {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.item_team_2 {
    flex-direction: row-reverse;
}

.wrap_wrap_text_team {
    width: 30%;
}

.name_team_team {
    user-select: none;
}

.team_work_team {
    user-select: none;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
}

.about_team_text {
    user-select: none;
}

.img_wrap_wrap {
    width: 30%;
}

.img_team {
    user-select: none;
    width: 100%;
    height: 50%;
    border-radius: 30px;
}

.strange_btn {
    position: fixed;
    z-index: 9999;
    left: 10%;
    cursor: pointer;
    top: 40px;
}

.strange_btn_img {
    user-select: none;
    border-radius: 50%;
    transition: all 0.5s linear;
    background-color: #000;
    width: 60px;
    transform: rotate(0deg);
}

.strange_btn_img_active {
    transition: all 0.5s linear;
    transform: rotate(360deg);
}

.strange_wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    justify-content: center;
    align-items: end;
}


.strange_btn_sec {
    max-width: 2000px;
    position: relative;
    z-index: 9990;
    cursor: pointer;
    margin-right: 25%;
    top: 30px;

    border-radius: 50%;
    transition: all 0.5s linear;
}

.strange_btn_sec:hover {
    transition: all 0.5s linear;
    scale: 1.1;
}
.strange_btn_sec:active {
    transition: all 0.5s linear;
    scale: 1.1;
}


@media (max-width:1040px) {
    .about_team_text {
        scale: 0.9;
    }
}

@media (min-width:3000px) {
    .strange_btn_sec {
        margin-right: 10%;
    }
}
/* 
@media (max-width:1150px) {
    .strange_btn_sec {
        margin-right: 22%;
    }
} */
@media (max-width:1040px) {
    .strange_btn_sec {
        top: 200px;
        margin-right: 88%;
    }
}

@media (max-width:740px) {
    .strange_btn_sec {
        margin-right: 83%;
    }
}

@media (max-width:950px) {

    .wrap_wrap_text_team {
        scale: 0.95;
    }

    .img_wrap_wrap {
        width: 35%;
    }
}

@media (max-width:870px) {

    .wrap_wrap_text_team {
        scale: 0.8;
        width: 35%;
    }

    .img_wrap_wrap {
        width: 38%;
    }
}

@media (max-width:770px) {

    .my_team_team {
        scale: 0.9;
        width: 80%;
    }

    .wrap_wrap_text_team {
        scale: 0.7;
        width: 40%;
    }

    .img_wrap_wrap {
        width: 45%;
    }
}
@media (max-width:730px) {

    /* .my_team_team {
        scale: 0.9;
        width: 80%;
    } */

    .about_team_text {
        scale: 0.8;
    }

    .wrap_wrap_text_team {
        /* scale: 0.5; */
        width: 45%;
    }

    .img_wrap_wrap {
        width: 45%;
    }
}

@media (max-width:670px) {

    /* .my_team_team {
        scale: 0.9;
        width: 80%;
    } */

    .about_team_text {
        width: 103%;
        scale: 0.7;
    }

    .wrap_wrap_text_team {
        scale: 0.6;
        width: 45%;
    }

    .img_wrap_wrap {
        width: 45%;
    }
}