.snow-blocks{
    /* background: url("../img/favicon.ico") 0 no-repeat #0182c6; */
    background-size: cover;
    position: fixed;
    z-index: 1;
    /* opacity: 0.3; */
    min-height: 1500px;
    width: 100%;
    overflow: hidden;
    background-size:cover;
}

/* .snow1{
    transition: all 0.5s linear;
    background-image: url("../img/snow1.png");
    position:absolute;
    width: 100%;
    height: 1600px;
    animation: snow1 8s linear infinite;    
} */

.snow2{
    transition: all 0.5s linear;
    background-image: url("../img/snow2.png"),url("../img/snow3.png");
    background-repeat: repeat;
    animation: snow2 5s linear infinite;
    width: 100%;
    height: 1600px;
    position:absolute;
}

@keyframes snow2{
    0%{background-position: 0 0, 0 0;}
    /* 25% {background-position: 3% 250px, 3% 250px;} */
    /* 50% {background-position: 6% 500px, 9% 500px;} */
    /* 75% {background-position: 9% 750px, 9% 750px;} */
    100%{background-position: 90% 1000px, 90% 1000px;}
}
/* @keyframes snow1{
    from{background-position: 0 -300px;}
    20% {background-position: 20% -100px;}
    40% {background-position: 30% 100px;}
    60% {background-position: 40% 300px;}
    80% {background-position: 50% 500px;}
    to{background-position: 20% 700px;}
} */


.burger_wrap {
    /* position: sticky; */
    width: 100%;
    display: flex;
    /* padding-top: 25px; */
    justify-content: end;
}

.burger{
    margin-right: 25px;
    display: none;
    position: fixed;
    z-index: 9999;
    align-items: center;
    justify-content: flex-end;
    width: 65px;
    height: 40px;
}

.burger span{
    height: 3px;
    width: 100%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { background-color: #000; transform: scale(0) }

.burger.active::before{
    background-color: #000;
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    background-color: #000;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 768px) {

    .burger_wrap {
        margin-top: 35px;
    }

    .burger { display: flex }

    /* .nav_bur{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    } */
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

html {
    scroll-behavior: smooth;
}

.body {
    z-index: 999;
    position: relative;
    margin: 0 auto;
    height: 100%;
    min-width: fit-content;
    max-width: 2000px;
    padding: 0;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: #e2e2e2;
    transition: all 0.5s linear;
}

.hetag_img {
    top: -30px;
    position: fixed;
    width: 100%;
    z-index: -1;
    min-height: min-content;
}
@media (max-width: 768px) {

    .hetag_img {
        object-fit: cover;
        top: -50px;
        right: 0px;
        width: 115%;
    }
}

.body_wrapper {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.burger_popup {
    opacity: 0;
    display: none;
    transition: all 1s linear;
}

.burger_none {
    transition: all 0.5s linear;
    opacity: 0;
}

.burger_popup-active {
    transition: all 0.5s linear;
    z-index: 999;
    /* opacity: 0.5; */
    top: 0;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

.btn_wrapper {
    position: relative;
    width: 60px;
    height: 50px;
}

.btn_wrapper span {
    position: absolute;
    top: 50%;
    height: 4px;
    width: 60px;
    background-color: #000;
}

.btn_wrapper span {
    transform: rotate(-45deg);
}

.btn_wrapper .btn_close-popup2 {
    transform: rotate(45deg);
}

.popup_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.popup_wrapper-linck {
    box-sizing: border-box;
    transition: all 0.3s linear;
    border-radius: 20px;
    border: 3px #00000000 solid;
    text-align: center;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    font-size: 22px;
}

.popup_wrapper-linck:hover {
    color: #787575;
    border: 3px #787575 solid;
}

.popup_wrapper-linck:active {
    color: #787575;
    border: 3px #787575 solid;
}

.popup_wrapper-item {
    width: 150px;
    color: #fff;
    border-radius: 20px;
    background-color: #000;
    animation: merchModil 3s linear infinite;
}

.popup_wrapper-item:hover {
    animation-play-state: paused;
}
.popup_wrapper-item:active {
    animation-play-state: paused;
}

@keyframes merchModil {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    50% {
        transform: scale(1.06);
        box-shadow: 0 0 5px 5px #000;
    }
    100% {
        transform: scale(1.0);
        box-shadow: none;
    }
}

.wrapper_pop {
    top: 30px;
    right: 5%;
    position: absolute;
}

.btn_close-popup {
    content: "";
}

@media (max-width: 768px) {
    .burder_wrapper span,
    .burder_wrapper::before,
    .burder_wrapper::after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 4px;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .burder_wrapper::before,
    .burder_wrapper::after {
        content: "";
    }
    
    .burder_wrapper::before {
        top: 22px;
    }
    
    .burder_wrapper::after {
        top: 46px;
    }
    
    .burder_wrapper {
        position: relative;
    }
    
    /* .burger {
        transition: all 1s linear;
        z-index: 5;
        position: sticky;
        cursor: pointer;
        height: 50px;
        width: 60px;
        top: 30px;
        left: 87%;
    } */
    
    .header_wrapper {
        display: none;
    }  
}

.header_wrapper {
    padding: 0 30px;
    padding-top: 30px;
    background: none;
}

.header_merch {
    height: 100px;
}

.header {
    position: relative;
    z-index: 9999;
}

/* HEADER */
.container {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: flex;
    height: 60px;
    gap: 20px;
}

.open_close-wrapper {
    display: none;
}

.my__name2 {
    transition: all 0.5s linear;
    color: #ff0000;
}

.my__name-big {
    transition: all 0.3s linear;
    margin: 0;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.my__name {
    font-size: 30px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.hugaev_team {
    position: relative;
    display: flex;
    height: 35px;
    flex-direction: column;
}

.about_my-team-none {
    text-transform: uppercase;
    visibility: hidden;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 35px;
    opacity: 0;
    height: 80px;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    transition: all 0.4s linear;
}

.about_my-team {
    transition: all 0.4s linear;
    
    align-items: center;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-evenly;
    display: flex;
    text-transform: uppercase;
    height: 80px;
    top: 35px;
    width: 100%;
    visibility: visible;
    flex-direction: column;
    opacity: 1;
}

.huga_team {
    transition: all 1s linear;
    color: #ff0000;
}

.about_mi {
    transition: all 0.3s linear;
    color: #ffffff;
    text-decoration: none;
}

.my_team {
    transition: all 0.3s linear;
    color: #ffffff;
    text-decoration: none;
}

.about_mi:hover {
    cursor: pointer;
    color: #ff0000;
}

.my_team:hover {
    cursor: pointer;
    color: #ff0000;
}

.anonse {
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 0px;
    width: 600px;
    gap: 30px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.anonse-list {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    transition: all 0.3s linear 0s;
}

.sociall {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s linear 0s;
}

.sociall:hover {
    transition: all 0.3s linear 0s;
    cursor: pointer;
    background-color: #fffdfd;
    transform: scale(1.1);
}
.sociall:active {
    transition: all 0.3s linear 0s;
    cursor: pointer;
    background-color: #ffffff;
    transform: scale(1.1);
}

.navigation_sent {
    scroll-behavior: smooth;
    padding-top: 3px;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

.navigation_sent:hover {
    transition: all 0.3s linear 0s;
    cursor: pointer;
    border: 3px solid #787575;
    color: #787575;
}

.sociall_href-one {
    padding: 0 3px 2px 0;
}

.sociall_wrapper {
    margin: 0;
    padding: 0;
    min-width: 200px;
    max-width: 250px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.afisha_element {
    position: relative;
    top: 0;
}

.afisha {
    text-decoration: none;
    text-transform: uppercase;
    margin: 70px 0;
    color: #fff;
    font-size: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    user-select: none;
    transition: all 0.3s linear;

    animation: afisha 2.5s infinite;
}

/* 
@keyframes afisha {
    0% {
        color: #ffffff;
    }
    30% {
        letter-spacing: 12px;
    }
    85% {
        letter-spacing: 3px;
    }
} */

/* MAIN */
.main {
    position: relative;
    z-index: 9999;
    flex: 1 1 auto;
    height: 100%;
}

.another_show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.empty_show {
    color: #0040ff9a;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.main_title {
    display: flex;
    padding-top: 70px;
    text-transform: uppercase;
    font-size: 35px;
    width: 100%;
    color: #fff;
    /* color: #393737; */
    align-items: center;
    justify-content: center;
}

.city_show {
    font-weight: 600;
    /* text-shadow: 13px 6px 8px #032fff; */
    text-decoration: none;
}

@media (max-width: 768px) {
    /* .main_title {
        color: #393737;
    } */

    /* .body {
        background: url('../img/hetag2.jpeg') 75% -100px no-repeat fixed;
    } */

    .main_afisha-standUp:hover {
        transform: none;
        /* border: 2px solid rgba(0, 0, 0, 0); */
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #fff;
    }
    .main_afisha-standUp:active {
        transform: none;
        /* border: 2px solid rgba(0, 0, 0, 0); */
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #fff;
    }

    .video_youtube {
        height: 400px;
    }

    .empty_show {
        padding-top: 50px;
    }

    .city_show-add {
        display: flex;
    }

    .city_show-delete {
        display: none;
    }

    .main_afisha {
        row-gap: 20px;
        display: flex;
        flex-direction: column;
    }

    /* .main_afisha2 {
        row-gap: 0;
    } */
}

@media (min-width: 768px) {

    .main_afisha-standUp:hover {
        transform: scale(1.03);
        /* border: 1px solid rgba(0, 0, 0, 0); */
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #000;
    }
    
    .main_afisha-standUp:active {
        transform: scale(1.03);
        /* border: 1px solid rgba(0, 0, 0, 0); */
        transition: all 0.5s linear 0s;
        box-shadow: 0px 0px 10px 2px #000;
    }

    .video_youtube {
        height: 500px;
    }

    .empty_show {
        padding-top: 100px;
    }

    .city_show-add {
        display: none;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: baseline;
    }

    .main_afisha {
        display: grid;
        row-gap: 30px;
        grid-template-columns: minmax(540px, 1fr);
        grid-template-rows: repeat(3, 175px);
    }
}

.main_afisha {
    width: 100%;
}

.standUp_afisha {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}

.standUp_start {
    white-space: nowrap;
}

.pClass {
    margin: 0;
}

.main_afisha-standUp {
    display: grid;
    box-sizing: border-box;
    background-color: #0000009a;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    /* border: 2px solid #787575; */
    transition: all 0.5s linear 0s;
    box-shadow: 0px 0px 10px 2px #00000000;
}

.afisha_wrapper {
    /* border-radius: 20px; */
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show_data {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.standUp_show {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    max-height: 100px;
    gap: 20px;
    max-width: 1800px;
}

.data_standUp {
    font-size: 25px;
    text-align: center;
}

.standUp_city {
    text-align: center;
}

.standUp_meet {
    padding-bottom: 10px;
}

.standUp_place {
    font-size: 19px;
    text-transform: uppercase;
    max-width: 160px;
}

.buttun_tickets {
    box-sizing: border-box;
}

.tickets_buy {
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 20px;
    min-width: 150px;
    min-height: 50px;
    max-width: 150px;
    max-height: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 3px solid #0053f7;
    transition: all 0.4s linear 0s;
}

.tickets_buy:hover {
    transition: all 0.4s linear 0s;
    background-color: #0053f7;
    box-shadow: 0px 0px 10px 5px #0053f7;
}
.tickets_buy:active {
    transition: all 0.4s linear 0s;
    background-color: #0053f7;
    box-shadow: 0px 0px 10px 5px #0053f7;
}

.main_video {
    position: relative;
    z-index: 9999;
    width: 100%;
    margin-top: 60px;
}

.title_list {
    width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.video_title {
    margin: 0;
    margin-bottom: 70px;
    color: #005bfc80;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1024px) {
    .video_youtube {
        width: 94%;
    }

    .video {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 500px);
    }
}

@media (min-width: 1024px) {
    .video_youtube {
        height: 300px;
    }

    .video {
        grid-template-columns: repeat(2, minmax(500px, 1fr));
        grid-template-rows: repeat(3, 300px);
    }

}

.video { 
    gap: 30px;
    justify-items: center;
    display: grid;
}

@media (min-width: 1500px) {
    .video {
        grid-template-columns:repeat(3, minmax(600px, 1fr));
    }
}

.video_youtube {
    border-radius: 50px;
    transition: all 0.5s linear 0s;
}

.video_youtube:hover {
    transition: all 0.5s linear 0s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #fff;
    transform: scale(1.1);

}
.video_youtube:active {
    transition: all 0.5s linear 0s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #fff;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .video_youtube:hover {
        transition: all 0.5s linear 0s;
        cursor: pointer;
        box-shadow: none;
        transform: none;
    
    }
    .video_youtube:active {
        transition: all 0.5s linear 0s;
        cursor: pointer;
        box-shadow: none;
        transform: none;
    }
}

/* FOOTER */
.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column;
    z-index: 500;
}

.footer_container {
    height: 150px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.sociall_background {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #005bfc80;
    font-size: 90px;
    margin: 0;
    margin-top: 100px;
}

.question {
    color: #005bfc80;
    background: transparent;
    font-size: 30px;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}



.tel_question {
    width: 340px;
    margin: 0 auto;
}

.tel_number {
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    color: #005bfc80;
    cursor: pointer;
    transition: all 0.3s linear 0s;
}

.tel_number:hover {
    transition: all 0.3s linear 0s;
    color: #ff0000;
}
.tel_number:active {
    transition: all 0.3s linear 0s;
    color: #ff0000;
}

@media (min-width: 768px) {
    .question {
        color: #005bfc80;
    }

    .tel_number {
        color: #005bfc80;
    }
}
.connection {
    margin: 0;
    padding-left: 20px;
}

.footer_form {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-evenly;
}

.input_text {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border-radius: 20px;
    font-size: 20px;
    width: 460px;
    height: 60px;
    border: none;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
}

.input_wrapper {
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.4s linear 0s;
}

.input_wrapper:hover {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #032fff;
} 
.input_wrapper:active {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #000000;
} 

.textarea_wrapper {
    padding: 0;
    width: 460px;
    min-height: 100px;
    border: 2px solid #000000;
    transition: all 0.4s linear 0s;
}

.textarea_wrapper:hover {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #000000;
}
.textarea_wrapper:active {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #000000;
}

.comment_text {
    font-size: 20px;
    resize: none;
    outline: none;
    padding: 10px 10px 10px 20px;
    margin: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box
}


.button_sent {
    padding: 0;
    width: 260px;
    height: 60px;
    font-size: 20px;
    color: #000000;
    border-radius: 0;
    border: 3px solid #0053f7;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.4s linear 0s;
}

.button_sent:hover {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #5b7dc1;
    background-color: #0053f7;
    color: #fff;
    cursor: pointer;
}
.button_sent:active {
    transition: all 0.4s linear 0s;
    box-shadow: 0px 0px 10px 3px #5b7dc1;
    background-color: #0053f7;
    color: #fff;
    cursor: pointer;
}

.button_sent-wrapper {
    text-align: end;
}

.footer_sociall-box {
    max-height: 200px;
}

.footer-sociall_wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 200px;
    padding: 0;
    margin: 0;
}

.footer_sociall {
    list-style-type: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
}

.footer-sociall_href {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.3s linear 0s;
}

.footer-sociall_href:hover {
    transition: all 0.3s linear 0s;
    background-color: #787575;
    box-shadow: 0px 0px 10px 3px #ffffff;
}
.footer-sociall_href:active {
    transition: all 0.3s linear 0s;
    background-color: #787575;
    box-shadow: 0px 0px 10px 3px #ffffff;
}

@media (max-width: 425px) {
    .img_sociall-ex {
        border-radius: 60px;
    }

    .content {
        display: none;
    }

    .box:hover {
        height: 400px;
    }

    .box {
        width: 400px;
        height: 400px;
    }

    .img_sociall {
        width: 400px;
        height: 400px;
    }

    .box_sociall {
        height: 1800px;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 425px) {
    .img_sociall-ex {
        border-radius: 34px;
    }

    .content {
        display: flex;
    }

    .box:hover {
        height: 350px;
    }

    .box {
        width: 250px;
        height: 250px;
    }

    .img_sociall {
        width: 250px;
        height: 250px;
    }

    .box_sociall {
        height: 750px;
        grid-template-columns: repeat(2, minmax(300px, 400px));
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .img_sociall-ex {
        border-radius: 34px;
    }

    .box:hover {
        height: 300px;
    }

    .box {
        width: 200px;
        height: 200px;
    }

    .img_sociall {
        width: 200px;
        height: 200px;
    }

    .box_sociall {
        height: 500px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0px;
    }
}

.box_sociall {
    display: grid;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: none;
    transition: .5s;
}

.box:hover {
    cursor: pointer;
}
.box .imgBx {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

.content {
    position: absolute;
    z-index: 7;
    width: 94%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .2s;
    flex-direction: column;
}

.box:hover .content {
    cursor: pointer;
    opacity: 1;
}

.buttun_go {
    width: 100%;
}

.sent_buttun {
    border-radius: 20px;
    border: none;
    background: #787575;
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    width: 100%;
    height: 100px;
}

/* MERCH */
.body_merch {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s linear;
}

.anonse-list_merch {
    margin: 0;
    margin-top: 20px;
    transition: all 0.2s linear;
    position: relative;
}

.navigation_sent-merch {
    z-index: 100;
    border-radius: 50px;
    font-weight: 400;
    width: 300px;
    color: #000;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.2s linear;
    cursor: pointer;
}

.navigation_sent-merch:hover {
    color: #ff0000;
    transition: all 0.2s linear;
    border: 3px solid #ff0000;
}

.navigation_merch {
    color: #000;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.anonse_merch {
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    box-sizing: border-box;
    transition: all 0.3s linear 0s;
    transform: scale(1.0);
    animation: merch 2s linear infinite alternate forwards;
}


@keyframes merch {
    0% {
        transform: scale(1.0);
        box-shadow: none;
    }
    50% {
        transform: scale(1.06);
        box-shadow: 0 0 5px 5px #fff;
    }
    100% {
        transform: scale(1.0);
        box-shadow: none;
    }
}

.anonse_merch:hover {
    animation-play-state: paused;
    transition: all 0.4s linear 0s;
    box-shadow: 0 0 10px 8px #ff0000;
    color: #787575;
}

@media (min-width: 2001px) {
    .huga_run {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 2001px) {
    .huga_run {
        top: 23%;
    }
}
@media (max-width: 1500px) {
    .huga_run {
        top: 10%;
    }
}

.huga_run {
    z-index: 51;
    position: fixed;
    width: 100%;
}

.huga_run-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.worlds_huga {
    animation: run 5s linear infinite;
    animation-delay: calc(0.2s * var(--d));
    color: transparent;
    font-size: 100px;
    font-weight: 600;
    user-select: none;
}

@keyframes run {
    0% {
        color: #ff0000;
        box-shadow: none;
        filter: blur(0.1px) hue-rotate(0deg);
    }
    25% {
        color: #ffffff;
        filter: blur(0.1px) hue-rotate(0deg);
        /* text-shadow: 0 0 5px #ff0000; */
    }
    50% {
        color: #ff0000;
        filter: blur(0.1px) hue-rotate(0deg);
    }
    75% {
        color: #ffffff;
        filter: blur(0.1px) hue-rotate(0deg);
    }
    100% {
        color: #ff0000;
        box-shadow: none;
        filter: blur(0.1px) hue-rotate(0deg);
    }
}

.worlds_huga2 {
    font-size: 125px
}
.worlds_huga3 {
    font-size: 150px
}
.worlds_huga4 {
    font-size: 175px
}


.container_merch {
    box-sizing: border-box;
    margin: 0 auto;
}

/* MERCH MAIN*/

.main_merch {
    position: relative;
    z-index: 55;
}

.main_merch-wrapper {
    width: 100%;
}

.merch_tavar-item {
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px #000;
    width: 300px;
    height: 400px;
    cursor: pointer;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.4s linear;
}

.merch_tavar-item:hover {
    transition: all 0.4s linear;
    transform: scale(1.06);
    box-shadow: 0 0 5px 5px #000;
}

.merch_tavar-item:active {
    transition: all 0.4s linear;
    transform: scale(1.06);
    box-shadow: 0 0 5px 5px #000;
}
@media (max-width: 1500px) {
    .merch_cart {
        grid-template-columns: repeat(3, minmax(300px, 500px));
        grid-template-rows: repeat(2, 400px);
        column-gap: 30px;
    }
}

@media (max-width: 960px) {
    .merch_cart {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(3, 400px);
        column-gap: 30px;
    }
}

@media (max-width: 425px) {
    .merch_cart {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(5, 400px);
        column-gap: 30px;
    }
}
@media (min-width: 1500px) {
    .merch_cart {
        grid-template-columns: repeat(4, minmax(400px, 1fr));
        grid-template-rows: repeat(2, 500px);
        column-gap: 120px;
    }

    .merch_tavar-item {
        width: 400px;
        height: 500px;
    }
}

.merch_cart {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    row-gap: 50px;
    justify-items: center;
}

.tavar_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.merch_img{
    border-radius: 20px 20px 0 0 ;
    background-size: cover;
}

.tavar_wrapper{
    background-color: #fff;

    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
}

.tavar_name{
    margin: 0;
}

.tavar_price{
    margin: 0;
}

/* MERCH FOOTER */

.footer_merch {
    margin-top: 120px;
}


/* MY TEAM */

.body_myTeam {
    background: #032dffaf;
    min-height: 1000px;
    transition: all 0.5s linear;
}

.navigation_sent_myTeam {
    border: 3px solid #00000000;
    transition: all 0.4s linear;
    color: #fff;
}

.navigation_sent_myTeam:hover {
    transition: all 0.4s linear;
    border: 3px solid #787575;
    color: #787575;
}

/* MY TEAM MAIN  */

.mi_myTeam_wrapper {
    padding: 0 20px;
    margin-top: 60px;
}

@media (max-width: 1500px) {
    .myTeam_item {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-template-rows: repeat(3, 400px);
    }
}
@media (max-width: 960px) {
    .myTeam_item {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(4, 400px);
    }
}
@media (max-width: 425px) {
    .myTeam_item {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(8, 400px);
    }
}
@media (min-width: 1500px) {
    .myTeam_item {
        grid-template-columns: repeat(4, minmax(300px, 1fr));
        grid-template-rows: repeat(2, 400px);
    }
}

.myTeam_item {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 40px;
}

.myTeam_link {
    border-radius: 20px;
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    transition: all 0.4s linear;
}

.myTeam_link:hover {
    transition: all 0.4s linear;
    box-shadow: 0 0 5px 5px #fff;
    transform: scale(1.06);
}

.linkTeam_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.img_myTeam {
    margin-top: 10px;
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.name_myTeam_wrap {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name_team {
    margin: 0;
}

.name_team_work {
    margin: 0;
}